<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header('Article')"></head>
<body>

<div class="container-fluid p-0">
    <div th:replace="nav :: nav(${category})"></div>
    <div class="container" style="margin-top: 90px">
        <div class="row" th:object="${article}">
            <div class="col-md-4 offset-md-4">
                <div class="card" style="width: 18rem;">
                    <img th:src="'http://localhost:8080/image/'+*{image}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="*{title}"></h5>
                        <p class="card-text" th:text="#{author}+ ':' +*{author}"></p>
                        <p class="card-text" th:text="#{category}+':'+*{category.catName}"></p>
                        <p class="card-text" th:text="#{desc}+':'+*{description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->

    <!-- Footer -->
</div>


<div th:replace="footer :: script"></div>
</body>
</html>