<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header('Category')"></head>
<body>
<div class="container-fluid p-0">
    <div th:replace="nav :: nav(${category})"></div>
    <div class="container" style="margin-top: 80px">
        <div class="container" style="margin-top: 70px">
            <h1 th:text="#{category}"></h1>
            <a href="/addcategory"><h3 style="color: cornflowerblue" th:text="#{add-category}"></h3></a>
            <div class="row m-0" th:each="cat,i : ${category}" style="background-color: white;border-bottom: darkgray 1px solid">
                <div class="col-md-3  p-0 m-auto">
                    <span th:text="${cat.id} + ')' " style="margin-right: 20px"></span>
                    <span style="font-size: 25px" th:text="${cat.catName}"></span>
                </div>
                <div class="col-md-3 p-0 m-auto">
                        <a th:href="@{/updatecategory/{id}(id=${cat.id})}">
                            <button class="btn btn-primary" style="width:60px;height: 60px;padding:0px;margin:0px;border-radius: 50%">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                        <a th:href="@{/deletecategory/{id}(id=${cat.id})}">
                            <button class="btn btn-danger" style="width:60px;height: 60px;padding:0px;margin:0px;border-radius: 50%">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue">
                <th:block th:each="p,i : ${enPage}">
                    <li th:class="${currentPage}==1 ? 'page-item disabled' : 'page-item'" th:if="${i.index+1}==1 and ${page}>1">
                        <a class="page-link" th:href="@{/catpage/{page}(page=${currentPage}-1)}" th:if="${page}>1" th:text="#{previous}"></a>
                    </li>
                    <li th:class="${pageSelect}==${i.index} ? 'page-item active' : 'page-item'" th:if="${page}>1"><a th:href="@{/catpage/{page}(page=${p.key})}" class="page-link" th:text="${p.value}"></a></li>
                    <li th:class="${currentPage}==${page} ? 'page-item disabled' : 'page-item'"  th:if="(${p.key}==${page} and ${page}>1)">
                        <a class="page-link" th:href="@{/catpage/{page}(page=${currentPage}+1)}" th:if="${page}>1" th:text="#{next}"></a>
                    </li>
                </th:block>
                <input type="hidden" th:value="${enPage}" />
            </ul>
        </nav>
    </div>
</div>
<div th:replace="footer :: script"></div>
</body>
</html>