<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header('Category')"></head>
<body>
<div class="container-fluid p-0">
    <div th:replace="nav :: nav(${category})"></div>
    <div class="container" style="margin-top: 80px">
        <h1 th:if="${isAdd} ? #{add-category} : #{update-category}"></h1>
        <a href="/category"><h3 style="color: cornflowerblue" th:text="#{back-to-list-category}">Back to Category list</h3></a>
        <div class="row">
            <div class="col-md-6">
                <form th:action="${isAdd} ? '/addcategory' : '/updatecategory'" method="post" th:object="${category}">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label th:text="#{name}">Name</label>
                        <input type="text" class="form-control" th:field="*{catName}" th:placeholder="#{name}">
                        <span class="form-text" th:if="${#fields.hasErrors('catName')}" th:errors="*{catName}" style="color: red"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: script"></div>
</body>
</html>