<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header('Modify')"></head>
<body>
<div class="container-fluid p-0">
    <div th:replace="nav :: nav(${category})"></div>
    <div class="container" style="margin-top: 80px">
        <h1 th:text="${isAdd} ? #{add-article} : #{update-article}">Add Article</h1>
        <a href="/"><h3 style="color: cornflowerblue" th:text="#{back-to-list-article}">Back to article list</h3></a>
        <div class="row">
            <div class="col-md-6">
                <form th:action="${isAdd} ? '/add' : '/update'" method="post" enctype="multipart/form-data" th:object="${article}">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{createdDate}">
                    <div class="form-group">
                        <label th:text="#{title}">Title</label>
                        <input type="text" class="form-control" th:field="*{title}" aria-describedby="emailHelp" th:placeholder="#{title}">
                        <span class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></span>
                    </div>
                    <div class="form-group">
                        <label th:text="#{author}">Author</label>
                        <input type="text" class="form-control" th:field="*{author}" th:placeholder="#{author}">
                        <span class="form-text" th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red">* Invalid Input</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" th:text="#{category}"></label>
                        <select class="form-control" id="exampleFormControlSelect1" name="catId">
                            <th:block th:if="${isAdd}" th:each="cat : ${category}">
                                <option th:value="${cat.id}" th:text="${cat.catName}" th:selected="(${cat.id} == *{category.id})" ></option>
                            </th:block>

                            <th:block th:unless="${isAdd}" th:each="cat : ${category}">
                                <option th:value="${cat.id}" th:text="${cat.catName}" th:selected="(${cat.id} == *{category.id})" ></option>
                            </th:block>
                        </select>


                    </div>
                    <div class="form-group">
                        <label th:text="#{desc}">Description</label>
                        <input type="text" class="form-control" th:field="*{description}" th:placeholder="#{desc}">
                        <span class="form-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red">* Invalid Input</span>
                    </div>
                    <div class="form-group">
                        <label th:text="#{image}">Image</label>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="file" style="display: none" id="btnFile" name="file">
                                <button id="btn" class="btn btn-success m-0" th:text="#{image}">Image</button>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="fileName" value="no file chosen" th:field="*{image}" readonly class="form-control" placeholder="">
                            </div>
                        </div>
                        <span class="form-text" th:if="${#fields.hasErrors('image')}" th:errors="*{image}" style="color: red">* Invalid Input</span>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <!-- Footer -->
</div>

<script>
    var file = document.getElementById("btnFile");
    document.getElementById('btn').onclick = function (ev) {
        file.click();
        ev.preventDefault();
    }
    file.onchange=function(){
        if(file.files.length!=0){
            var fileName = file.files[0].name;
            document.getElementById("fileName").value = fileName;
        }else {
            document.getElementById("fileName").value = "no file chosen";
        }

    }
</script>
<div th:replace="footer :: script"></div>
</body>
</html>

